$_8_px: 0.5rem;
$_9_px: 0.5625rem;
$_10px:0.625rem;
$_11px:0.6875rem;
$_12px:0.75rem;
$_13px:0.8125rem;
$_14px:0.875rem;
$_15px:0.9375rem;
$_16px:1rem;
$_17px:1.0625rem;
$_18px:	1.125rem;
$_19px:	1.1875rem;
$_20px:	1.25rem;
$_21px:	1.3125rem;
$_22px:	1.375rem;
$_23px:	1.4375rem;
$_24px:	1.5rem;
$_25px:	1.5625rem;
$_26px:	1.625rem;
$_27px:	1.6875rem;
$_28px:	1.75rem;
$_29px:	1.8125rem;
$_30px:	1.875rem;
$_31px:	1.9375rem;
$_32px:	2rem;
$_33px:	2.0625rem;
$_34px:	2.125rem;
$_35px:	2.1875rem;
$_36px:	2.25rem;
$_37px:	2.3125rem;
$_38px:	2.375rem;
$_39px:	2.4375rem;
$_40px:	2.5rem;
$_41px:	2.5625rem;
$_42px:	2.625rem;
$_43px:	2.6875rem;
$_44px:	2.75rem;
$_45px:	2.8125rem;
$_46px:	2.875rem;
$_47px:	2.9375rem;






$_64px: 4rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_24px: 1.60rem;
$_18px: 1.125rem;
$_13px: 0.8125rem;